* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --text-blue: #5a7ffb;
  --bg-blue: #5a7ffb;
}


html,
body {
  height: 100%;
  width: 100%;
}

.Container {
  max-width: 1920px;
}

/* Home Page */

.App {
  height: 100vh;
  width: 100%;
}

.bgImage {
  background: url('./assets/hero_pattern.jpg');
  width: 100%;
  min-height: 100vh;
  height: auto;
}

.hero__element {
  position: absolute;
}

.hero__element--1 {
  opacity: 0.4;
  top: 200px;
  left: 60px;
  animation: animateHeroElement1 1s linear infinite alternate;
}

.hero__element--3 {
  opacity: 0.4;
  top: 150px;
  left: 400px;
  animation: animateHeroElement3 4s ease-in-out infinite alternate;
}

.hero__element--2 {
  opacity: 0.4;
  top: 650px;
  left: 60px;
  animation: animateHeroElement2 4s ease-in-out infinite alternate;
}

@keyframes animateHeroElement1 {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(0.5);
  }
}

@keyframes animateHeroElement2 {
  0% {
    transform: translateX(40px);
  }

  100% {
    transform: translateX(10px);
  }
}

@keyframes animateHeroElement3 {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(60px);
  }
}

/* Navbar */

.link {
  /* Default link color */
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

.link.active {
  color: var(--text-blue);
}

.navbar--sticky {
  position: fixed;
  top: 0;
  max-width: 1920px !important;
  background-color: #1B212F;
  /* Or any color of your choice */
  z-index: 1000;
}

.text-blue {
  color: #5a7ffb;
}

.hamburger__menu {
  height: 0;
  overflow: hidden;
  transition: height 1.2s ease-in-out;
}

.hamburger__menu.open {
  height: 200px;
  /* Or a sufficient value to fit your content */
}

.blob {
  border-radius: 30%;
  animation: blob-animation 8s ease-in-out infinite;
}

@keyframes blob-animation {

  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 40% 70% 30%;
  }

  50% {
    border-radius: 30% 70% 50% 50% / 40% 60% 30% 70%;
  }
}

.lazy__load__section {
  opacity: 0;
  transform: translateX(-200px);
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

.animate__section {
  opacity: 1;
  transform: translateX(0);
}

.text {
  animation: rotate 10s linear infinite;
}

.text span {
  position: absolute;
  left: 50%;
  font-weight: bold;
  font-size: 2rem;
  transform-origin: 0px 200px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}