.mLeft10 {
  margin-left: 10vw;
}
@media (max-width: 500px) {
  .logo {
    height: 10vh !important;
    width: 10vh !important;
  }
}
@media (min-width: 500px) {
  .logo {
    top: 0vw !important;
    height: 10vw !important;
    width: 10vw !important;
  }
}
.mLeft15 {
  margin-left: 15vw;
}
